{
  "extends": "vtex",
  "plugins": ["cypress"],
  "env": {
    "es6": true,
    "mocha": true,
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": "off"
  },
  "globals": {
    "cy": true,
    "Cypress": true
  }
}
