name: End-to-end tests
on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment (local, beta or stable)'
        required: false
        default: 'stable'
      workspace:
        description: 'VTEX workspace, defaults to master'
        required: false
      containers:
        description: 'Number of parallel containers'
        required: false
        default: '30'
jobs:
  setup_containers:
    runs-on: ubuntu-20.04
    outputs:
      containers: ${{ steps.setup-containers.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup containers
        id: setup-containers
        run: bash .github/setup-containers.sh ${{ github.event.inputs.containers }}
  cypress_run:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        containers: ${{fromJson(needs.setup_containers.outputs.containers)}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2.9.5
        with:
          tag: ${{ github.event.inputs.env }}
          group: ''
          record: true
          parallel: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY}}
          CYPRESS_VTEX_ENV: ${{ github.event.inputs.env }}
          CYPRESS_VTEX_WORKSPACE: ${{ github.event.inputs.workspace }}
